body {
  padding: 1em;
}
input, button {
  display: block;
  margin: 0.4em 0;
  font-size: 1em;
  padding: 0.4em;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-bottom: 1em;
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}